.destino-clippath img {
  background-size: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.image-left {
  clip-path: polygon(0 0, 100% 0, calc(100% - 100px) 100%, 0 100%);
}

.destino-clippath .image-right {
  clip-path: polygon(100px 0, 100% 0, 100% 100%, 0 100%); /* Recorte diagonal */
}
.hrs-80 {
  width: 80vw;
  margin: auto;
}
