* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  color: white;
}

h4 {
  padding-left: 15vw;
  color: #1d2a4a;
}
/* button {
  width: max-content;
  margin: auto !important;
  padding: 8px 16px !important;
} */
