.formulario-reserva {
  display: flex;
  width: 50vw;
  flex-direction: column;
  height: auto;
  margin: auto;
}
.formulario-reserva input {
  margin: 0 0 10px 0;
  height: 35px;
  padding-left: 2%;
}
